@import 'styles/variables.scss';

$icon-size: 28px;

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 48px;
  height: 100vh;
  background-color: $primary;

  div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  svg {
    fill: #F9F6EE;
    width: $icon-size;
    height: $icon-size;
    cursor: pointer;
    margin: 6px 0;

    &.homeIcon {
      margin-bottom: 16p;
    }

    &:hover {
      fill: $secondary;
    }
  }
}
