$primary: #000;
$background: rgba(#eaeaea, 0.3);

$color-primary-0: #0C6A50;
$color-primary-1: #289375;
$color-primary-2: #158063;
$color-primary-3: #01543D;
$color-primary-4: #003728;

$error-light: #E57373;
$error-main: #F44336;
$error-dark: #D32F2F;

$warning-light: #FFB74D;
$warning-main: #FF9800;
$warning-dark: #F57C00;

$info-light: #4fc3f7;
$info-main: #29b6f6;
$info-dark: #039be5;

$success-light: #81c784;
$success-main: #66bb6a;
$success-dark: #388e3c;
